table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.container-style {
    width: 50%;
    height: auto;
    border-radius: 20px;
    margin: auto;
}

.header-div {
    margin-left: 33.33%;
    margin-top: 1%;
}

.header {
    text-align: center;
    margin-top: 1%;
}

.mdl-card {
    min-height: 0;
}

button {
    margin-right: 10px;
}

.button-suite {
    margin-top: 1%;
    margin-bottom: 1%;
}

.card-color-green {
    background-color: #4CAF50;
}

.card-color-red {
    background-color: #f44336;
}

.card-color-gray {
    background-color: lightgray;
}

.fade-in-headers {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.fade-in-search {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.fade-in-buttons {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}